{% extends "base.html" %}
{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h2>Reset Password</h2>

        <form method="POST">
            <input type="email" name="email" placeholder="Enter your Email" required>
            <input type="password" name="password" placeholder="Enter New Password" required>
            <button type="submit">Reset Password</button>
        </form>

        <p><a href="/login">Back to Login</a></p>
    </div>
</div>

{% endblock %}